<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DevExpress.Mvvm.ViewModel.LayoutSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DevExpress.Mvvm.ViewModel.Common.LayoutSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DevExpress.Mvvm.ViewModel.LayoutSettings>
            <setting name="LogicalLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewsLayout" serializeAs="String">
                <value />
            </setting>
        </DevExpress.Mvvm.ViewModel.LayoutSettings>
        <DevExpress.Mvvm.ViewModel.Common.LayoutSettings>
            <setting name="LogicalLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewsLayout" serializeAs="String">
                <value />
            </setting>
        </DevExpress.Mvvm.ViewModel.Common.LayoutSettings>
    </userSettings>
</configuration>